@using SugarCube.Models
@model CubeViewModel
@{
    ViewBag.Title = "SugarCube";
}

<div id="cubes">
    @foreach (JournalEntry entry in Model.JournalEntries)
    {
        Html.RenderPartial("Cube", entry);
    }
</div>

@section scripts
{

    <script type="text/javascript">
        $(function () {
            var $container = $("#cubes");

            $container.isotope({
                itemSelector: '.item',
                layoutMode: 'masonry'
            });

            // filter items when filter link is clicked
            $('#filters a').on("click", function () {
                var selector = $(this).attr('data-filter');
                $container.isotope({ filter: selector });
                $('#filters li').removeClass("active");
                $(this).closest("li").addClass("active");
            });

        });

    </script>
}